---
import type { Playlist } from "../lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;
---

<a
    href={`/playlist/${playlist.id}`}
    class="playlist-item flex group relative transition duration-300 overflow-hidden items-center gap-5 rounded-md shadow-lg hover:shadow-xl outline-none bg-zinc-500/30 hover:bg-zinc-800"
    transition:name=`playlist ${id} box`
>
    <div class="size-20">
        <img
            src={cover}
            alt={title}
            class="object-cover size-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)] rounded-md"
            transition:name=`playlist ${id} image`
        />
    </div>
    <div class="font-bold block" transition:name=`playlist ${id} title`>
        {playlist.title}
    </div>
    <div
        class={"absolute right-4 opacity-0 translate-y-4 transition-all duration-300 group-hover:translate-y-0 group-hover:opacity-100"}
        transition:name=`playlist ${playlist.id} play`
    >
        <CardPlayButton id={id} client:visible />
    </div>
</a>
