---
import type { Playlist } from "@/lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<article
    class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md ransi transition-all duration-300"
>
    <a
        href={`/playlist/${id}`}
        class="playlist-item flex group relative transition duration-300 overflow-hidden items-center gap-5 rounded-md shadow-lg hover:shadow-xl outline-none bg-zinc-500/30 hover:bg-zinc-800"
        transition:name=`playlist ${id} box`
    >
        <div
            class=`absolute right-4  translate-y-4
                    transition-all duration-500 opacity-0
                    group-hover:translate-y-0 group-hover:opacity-100
                    z-10`
        >
            <CardPlayButton id={id} client:visible />
        </div>

        <picture class="aspect-square size-20">
            <img
                src={cover}
                alt={`Cover de ${title} by ${artistsString}`}
                class="object-cover size-full rounded-md shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
                transition:name=`playlist ${id} image`
            />
        </picture>

        <div class="font-bold block">
            <h4
                class="text-white text-sm"
                transition:name=`playlist ${id} title`
            >
                {title}
            </h4>
        </div>
    </a>
</article>
